
# Adapted from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0px; padding: 0px; border: 0px;
}

html {
    overflow: visible;
}


body {
    background: #fff;
    color: black;
    font-family: Arial, Helvetica, sans-serif; font-size: 15px; 
    width: 94%; 
    height: 100%;
    margin-left: 50px;
    margin-right: 100px;
    overflow: visible;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding-right: 5px;
    padding-left: 10px;
}

tr:nth-child(even){background-color: #eef}
tr:nth-child(odd){background-color: #eee}

th {
    background-color: #4CAF50;
    color: white;
}

button{
    font-size: 100%;
}

input{
    font-size: 90%;
}

#left {
  width: 410px;
  float: left;
}
#right {
  margin-left: 410px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}


nav {
    background: #ccc;
    font-size: 15px;  
    text-align: center;
}

nav ul ul {
    display: none;
    text-align: left
}

nav ul li:hover > ul {
    display: block;
}


nav ul {
    background: #333; 
    padding: 0 5px;
    list-style: none;
    position: relative;
    display: inline-table;
    border-radius: 1px;
}
    
nav ul:after {
    content: ""; clear: both; display: block;
}

    nav ul li {
        float: left;

    }
        nav ul li:hover {
            background: #aa0;
            border-radius: 1px;
        }
            nav ul li:hover a {
                color: #fff;
                border-radius: 1px;
            }
        
        nav ul li a {
            display: block; padding: 5px 20px;
            color: #fff; text-decoration: none;
            border-radius: 1px;
        }
            
        
    nav ul ul {
        background: #885500; border-radius: 2px; padding: 0;
        position: absolute; top: 100%;
    }
        nav ul ul li {
            float: none; 
            border-top: 1px solid #000;
            border-radius: 1px;
        }
            nav ul ul li a {
                padding: 5px 20px;
                color: #fff;
            }   
                nav ul ul li a:hover {
                    background: #aaaa00;
                }
        
    nav ul ul ul {
        position: absolute; left: 100%; top:0;
    }
        

